*{
    font-family: 'poppins',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  
}
p{
    font-weight: 300;
    color: #111;
}
h2{
    font-weight: 700;
}
body{
    min-height: 1000px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index: 1000000;

}
header.sticky{
    background-color: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05) ;
}
header.sticky .logo{
    color: #111;
}
header.sticky li a{
    color: #111;
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
 header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;

}
.navigation li{
    list-style: none;
    margin-left: 30px;

}
.navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.navigation li a:hover{
    color: #ff0157;
}
.banner{
    position: relative;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
}
.banner .content{
    text-align: center;
    max-width: 900px;
}
.banner .content h2{
    color: #fff;
    font-size: 4em;

  
}
.banner .content p{
    font-size: 1em;
    color: #fff;
    line-height: 1.6;
}
 .btn{
    font-size: 1em;
    color: #fff;
    background-color: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    letter-spacing: 2px;

}
 .btn:hover{
    letter-spacing: 6px;
}
.btn:focus{
    outline: none;
    border: none;
}

section{
    padding: 100px;

}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.title-text{
    font-size: 2em;
    font-weight: 300;
    color: #111;

}
.title-text span{
    font-weight: 700;
    font-size: 1.5em;
    color: #ff0157;
}
.row .col50 .imgbox{
    position: relative;
    width: 100%;
    min-height: 100%;
}
.row .col50 .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
  
    width: 340px;
margin: 20px;
border: 15px solid #fff;
box-shadow: 0 5px 35px rgba(0, 0, 0, .08);
}
.menu .content .box .imgbox{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text{
    padding: 15px 0 5px;
  

}

.menu .content .box .text h3{
    font-weight: 400;
 color: #111;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;

}
.expert .content .box{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgbox{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.expert .content .box .text{
    padding: 15px 0 5px;
}
.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
}

.testmonials{
    background-image: url(../images/bg2.jpg);
    background-size: cover;
}
.testmonials .white .title-text 
{
    color: #fff;
}
.testmonials .white p{
    color: #fff;
}
.testmonials .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;

}
.testmonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
}
.testmonials .content .box .imgbox{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;

}
.testmonials .content .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.testmonials .content .text{
    text-align: center;

}
.testmonials .content .text p{
    color: #666;
    font-style: italic;
}
.testmonials .content .text h3{
    font-weight: 600;
    color: #ff0157;
    font-size: 1.5em;
    margin-top: 20px;
    
}

.contact{
    background-image: url(../images/bg3.jpg);
    background-size: cover;


}
.contact .contactForm{
    padding:  75px 50px;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .1);
    max-width: 500px;
    margin-top: 50px;
}
.contact .contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contact .contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact .contactForm .inputBox input, .contact .contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}
.contact .contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background-color: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.copyRight{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
}
.copyRight p{
    color: #ff0157;
    text-decoration: none;
    font-weight: 500;
}



@media(max-width :991px){
    header,
    header.sticky{
        padding: 10px 20px ;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100%-68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
       
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url(../images/menu.png);
        background-size: 30px ;
        background-repeat: no-repeat;
        background-position:center;
        cursor: pointer;
    }
    .menuToggle.active{
        background-image: url(../images/close.png);
        background-size: 25px ;
        background-repeat: no-repeat;
        background-position:center;
        cursor: pointer;

    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    .banner .content h2{
        color: #fff;
        font-size: 3em;
    
      
}
.row{
    flex-direction: column;
}
.row .col50{
    position: relative;
    width: 100%;
}
.row .col50 .imgbox{
 
    height: 300px;
    margin-top: 20px;
}


.menu .content .box {
  
    margin-top: 10px;
}
.title{
    text-align: center;
}
.title-text{
    color: #111;
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: center;
}
.testmonials .content .box{
    margin: 10px;
    padding: 20px;
}
.contactForm{
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

}
@media(max-width:480px){

    .banner h2{
        font-size: 1.5em;
    }
    .testmonials .content .text h3{
        font-size: 1em;
    
    }
}

